/* country.css */
.table-container table {
    width: 50%;
    border-collapse: collapse;
}

.table-container th,
.table-container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Set the width for each column */
.table-container th:nth-child(1),
.table-container td:nth-child(1) {
    width: 10%;
}

.table-container th:nth-child(2),
.table-container td:nth-child(2) {
    width: 20%;
}

.table-container th:nth-child(3),
.table-container td:nth-child(3) {
    width: 20%;
}

.table-container th:nth-child(4),
.table-container td:nth-child(4) {
    width: 50%;
}
.table-container form {
    width: 300px; /* Điều chỉnh chiều rộng của form */
    margin: 0 auto; /* Để căn giữa form */
}

.table-container form input {
    width: 100%; /* Đảm bảo input chiếm toàn bộ chiều rộng của form */
    margin-bottom: 10px; /* Tạo khoảng cách giữa các input */
}
